<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<h2>List of Order</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Order Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.name}"></td>
        <td th:text="${order.phone}"></td>
        <td th:text="${order.address}"></td>
        <td th:text="${order.detail}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>